@layer reset, init, components;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hind:wght@300;400;500;600;700&display=swap");
@import "accordion-js/dist/accordion.min.css" layer(reset);
@import url(normalize.css) layer(reset);
@import url(typography.css) layer(init);
@import url(components.css) layer(components);

@layer init {
  :root {
    /* Barvy */
    --primary: #e74025;
    --background-light: #ffffff;
    --background-dark: #3c3332;
    --text-dark: #292929;
    --text-light: #ffffff;

    /* Mezery */
    --section-gap-mobile: 10.1875rem;
    --section-gap-desktop: 18.75rem;
    --page-padding-mobile: 0px 1rem;
    --page-padding-desktop: 0px 9.875rem;
    --max-width: 2000px;
    --max-width-s: 80rem;
  }
  html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  * {
    margin: 0px 0px;
    padding: 0px;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
}

/* Layout */

/* Header ----------------> */
.page__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--page-padding-mobile);
  background-color: var(--background-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--page-padding-mobile);
  z-index: 100;
  border-radius: 0 0 1rem 1rem;
  padding: 0.75rem 1rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transition: border-radius 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.page__header.active {
  border-radius: 0 0 0 0;
  box-shadow: none;
}
@media screen and (min-width: 1024px) {
  .page__header {
    margin: var(--page-padding-desktop);
  }
  .hamburger {
    display: none;
  }
  .hamburger-nav {
    height: auto;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
  .navigation__list {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}

/* Main -------> */

/* hero ------------------> */
.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 6.33%,
      rgba(0, 0, 0, 0) 99.99%
    ),
    linear-gradient(
      279deg,
      rgba(0, 0, 0, 0) 20.36%,
      rgba(0, 0, 0, 0.48) 52.78%,
      rgba(0, 0, 0, 0.6) 94.92%
    ),
    url("/images/background--kamion.png") lightgray 50% / cover no-repeat;
  height: 90vh;
  min-height: 600px;
  display: flex;
  padding: var(--page-padding-mobile);
  position: relative;
}

.hero--sluzby {
  height: 40vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 6.33%,
      rgba(0, 0, 0, 0) 99.99%
    ),
    linear-gradient(
      279deg,
      rgba(0, 0, 0, 0) 20.36%,
      rgba(0, 0, 0, 0.48) 52.78%,
      rgba(0, 0, 0, 0.6) 94.92%
    ),
    url("/images/background__image-2.png") lightgray 50% / cover no-repeat;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: var(--max-width);
  justify-content: flex-start;
}
.hero__contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
}
.hero__contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.hero__contact-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.hero__content-text {
  max-width: 800px;
}
.hero__contact-item img {
  width: 1.5rem;
  height: 1.5rem;
}
.hero__arrow {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.hero__arrow--oblouk {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.hero__arrow--down {
  margin: 0 auto;
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: var(--page-padding-desktop);
  }
}
/* Section Expirience */
.expirience {
  margin-top: var(--section-gap-mobile);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-x: hidden;
  max-width: var(--max-width);
  margin: var(--section-gap-mobile) auto 0 auto;
}
.expirience__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--page-padding-mobile);
  gap: 1.75rem;
  text-align: center;
}
.expirience__content-text {
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-area: text;
}
.expirience__image {
  border-radius: 1.75rem;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.expirience__image:nth-child(1) {
  transform: translateX(-90%);
  grid-area: image1;
  border-radius: 1.75rem;
}
.expirience__image:nth-child(3) {
  transform: translateX(90%);
  grid-area: image2;
  border-radius: 1.75rem;
}
@media screen and (min-width: 900px) {
  .expirience {
    margin-top: var(--section-gap-desktop);
    flex-direction: row;
    gap: 0rem;
    justify-content: center;
    align-items: center;
  }
  .expirience__content {
    padding: none;
  }
  .expirience__image {
    max-width: 500px;
  }
  .expirience__content {
    min-width: 500px;
  }
  .expirience__image:nth-child(1) {
    align-self: flex-start;
    margin-bottom: 300px;
  }
  .expirience__image:nth-child(3) {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1400px) {
  .expirience {
    gap: 8rem;
  }
}
/* Sluzby --------------> */
.sluzby {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--page-padding-mobile);
  padding-top: var(--section-gap-mobile);
  gap: 2rem;
  max-width: var(--max-width);
  margin: 0 auto;
}
.sluzby__content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sluzby__content-card {
  position: relative;
  border-radius: 1.75rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 170px;
  margin-top: -0.25rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.sluzby__content-card:hover {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
}
.sluzby__content-card .content-card__img {
  transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);
  will-change: transform;
}
.sluzby__content-card:hover .content-card__img {
  transform: scale(1.08);
}
.content-card__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.sluzby__content-card p {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 2;
}
.linear-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 11.42%,
    rgba(0, 0, 0, 0.8) 81.46%
  );
}

@media screen and (min-width: 700px) {
  .sluzby {
  }
  .sluzby__content-card {
    max-height: 300px;
  }
}
@media screen and (min-width: 900px) {
  .sluzby {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: var(--page-padding-desktop);
    margin-top: var(--section-gap-desktop);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: dense;
  }

  .grid-item--2x1 {
    grid-column: span 6;
  }
  .grid-item--1x1 {
    grid-column: span 4;
  }
}
@media screen and (min-width: 1500px) {
  .sluzby {
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  .grid-item--2x1 {
    grid-column: span 9;
  }
  .grid-item--1x1 {
    grid-column: span 6;
  }
}
/* Question -------------> */
.question {
  margin-top: var(--section-gap-mobile);
  display: flex;
  flex-direction: column;
  padding: var(--page-padding-mobile);
  position: relative;
  background-color: var(--background-dark);
}
.question__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: var(--page-padding-mobile);
  margin-top: var(--section-gap-mobile);
}
.question__arrow {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question__arrow-oblouk {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
.question__title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--text-light);
}

@media screen and (min-width: 900px) {
  .question {
    padding: var(--page-padding-desktop);
    margin-top: var(--section-gap-desktop);
  }
  .question__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
  }
  .question__title {
    margin-top: 0;
  }
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding-mobile);
  padding-top: var(--section-gap-mobile);
  background-color: var(--background-dark);
  color: var(--text-light);
  position: relative;
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact__content-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__content-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.contact__content-item img {
  width: 1.25rem;
  height: 1.25rem;
}
.contact__content-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.time-table--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--text-light);
}
.contact__map {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1.75rem;
  height: 30.75rem;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.contact__arrow {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__arrow-oblouk {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.contact__wheel,
.contact__arrow-wheel {
  position: relative;
}

@media screen and (min-width: 900px) {
  .contact {
    padding: var(--page-padding-desktop);
    padding-top: var(--section-gap-desktop);
    flex-direction: row;
    gap: 2.5rem;
    position: relative;
  }
  .contact__content {
    min-width: 200px;
    order: 2;
  }
  .contact__map {
    order: 1;
    height: auto;
    align-self: stretch;
  }
  .contact--sluzby {
    margin-top: calc(var(--section-gap-desktop) - 150px);
  }
}

/* Footer */
footer {
  border: none;
  padding-top: var(--section-gap-mobile);
  text-align: center;
  padding-bottom: 0.5rem;
  background-color: var(--background-dark);
  color: var(--text-light);
}

/* service info */
.service-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--page-padding-mobile);
  padding-top: var(--section-gap-mobile);
  background-color: var(--background-light);
  max-width: var(--max-width);
  margin: 0 auto;
}
.service-info__card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.75rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--background-light);
}
.service-info__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
}
.service-info-text {
  color: var(--text-dark);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.service-info__icon {
  align-self: center;
}
@media screen and (min-width: 768px) {
  .item--none {
    display: block;
  }
  .service-info {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: var(--section-gap-desktop);
  }
  .service-info__card {
    width: 35%;
    flex-grow: 1;
  }
  .service-info__icon {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .service-info {
    padding: var(--page-padding-desktop);
    padding-top: calc(var(--section-gap-desktop) - 150px);
  }
}

.section-wrapper {
  position: relative;
  max-width: var(--max-width-s);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1.5rem;
}
.section-wrapper--hero {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin: 0 0;
  max-width: var(--max-width);
  flex-grow: 1;
}
.section-wrapper--contact {
  flex-direction: column;
  margin: 0 0;
}
@media screen and (min-width: 900px) {
  .section-wrapper--contact {
    flex-direction: row;
    margin: 0 auto;
  }
}
.service-info__icon {
  align-self: center;
  width: 65px;
  height: 64px;
  position: relative;
}

.clock--background {
  background-color: var(--primary);
  position: absolute;
  inset: 0;
  border-radius: 50%;
}

.clock--hand1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.clock--hand1::after{
  content: "";
  position: absolute;
  left: calc(50% - 3px);
  width: 6px;
  height: 43%;
  top: 10%;
  background-color: white;
  border-radius: 6px;
}

.clock--hand2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.clock--hand2::after{
  content: "";
  position: absolute;
  left: calc(50% - 3px);
  width: 6px;
  height: 38%;
  top: 15%;
  background-color: white;
  border-radius: 6px;
}


 .service-info__card:hover .clock--hand1 {
  animation: clock-hand-spin 2s linear infinite;
}
.service-info__card:hover .clock--hand2 {
  animation: clock-hand-spin 8s linear infinite;
}
@keyframes clock-hand-spin {
  100% {
    transform: rotate(360deg);
  }
}

