@layer reset, init, components;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hind:wght@300;400;500;600;700&display=swap");
@import "accordion-js/dist/accordion.min.css" layer(reset);
@import url(normalize.css) layer(reset);
@import url(typography.css) layer(init);
@import url(components.css) layer(components);

@layer init {
  :root {
    /* Barvy */
    --primary: #e74025;
    --background-light: #ffffff;
    --background-dark: #3c3332;
    --text-dark: #292929;
    --text-light: #ffffff;

    /* Mezery */
    --section-gap-mobile: 10.1875rem;
    --section-gap-desktop: 18.75rem;
    --page-padding-mobile: 0px 1rem;
    --page-padding-desktop: 0px 9.875rem;
    --max-width: 100.25rem;
    --max-width-s: 80rem;
  }
  html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  * {
    margin: 0px 0px;
    padding: 0px;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
}

/* Layout */

/* Header ----------------> */
.page__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--page-padding-mobile);
  background-color: var(--background-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--page-padding-mobile);
  z-index: 100;
  border-radius: 0 0 1rem 1rem;
  padding: 0.75rem 1rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transition: border-radius 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.page__header.active{
  border-radius: 0 0 0 0;
  box-shadow: none;
}

/* Main -------> */


/* hero ------------------> */
.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 6.33%,
      rgba(0, 0, 0, 0) 99.99%
    ),
    linear-gradient(
      279deg,
      rgba(0, 0, 0, 0) 20.36%,
      rgba(0, 0, 0, 0.48) 52.78%,
      rgba(0, 0, 0, 0.6) 94.92%
    ),
    url("/images/background--kamion.png") lightgray 50% / cover no-repeat;
  height: 90vh;
  min-height: 600px;
}
.hero--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.hero__content {
  padding: var(--page-padding-mobile);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.hero__contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
}
.hero__contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.hero__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}
.hero__arrow--oblouk {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.hero__arrow--down {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero__buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* Section Expirience */
.expirience {
  margin-top: var(--section-gap-mobile);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}
.expirience__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--page-padding-mobile);
  gap: 1.75rem;
  text-align: center;
}
.expirience__content-text {
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.expirience__image {
  border-radius: 1.75rem;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.expirience__image:nth-child(1) {
  transform: translateX(-90%);
}
.expirience__image:nth-child(3) {
  transform: translateX(90%);
}

/* Sluzby --------------> */
.sluzby {
  margin-top: var(--section-gap-mobile);
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--page-padding-mobile);
  gap: 2rem;
}
.sluzby__content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sluzby__content-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.75rem;
}
.sluzby__content-card {
  position: relative;
  border-radius: 1.75rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 170px;
}

.sluzby__content-card p {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 2;
}
.linear-gradient{
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 11.42%, rgba(0, 0, 0, 0.80) 81.46%);
}

/* Question -------------> */
.question {
  margin-top: var(--section-gap-mobile);
  display: flex;
  flex-direction: column;
  padding: var(--page-padding-mobile);
  position: relative;
  background-color: var(--background-dark);
}
.question__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: var(--page-padding-mobile);
}
.question__arrow{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.question__arrow-oblouk{
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
.question__arrow-wheel{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.question__title{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--text-light);
  margin-top: var(--section-gap-mobile);
}

/* Contact */
.contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--page-padding-mobile);
    padding-top: var(--section-gap-mobile);
    background-color: var(--background-dark);
    border: none;
    color: var(--text-light);
}
.contact__content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.contact__content-item{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.contact__content-item img{
  width: 1.25rem;
  height: 1.25rem;
}
.time-table--item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-light);
}
.contact__map{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1.75rem;
    height: 30.75rem;
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 600px;
}


/* Footer */
footer{
  border: none;
  padding-top: var(--section-gap-mobile);
  text-align: center;
  padding-bottom: 0.5rem;
  background-color: var(--background-dark);
  color: var(--text-light);
}